## data dictionary

50K, <=50K.
age: continuous.

workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

fnlwgt: continuous. drop

education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. drop

education-num: continuous.

marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. drop

occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 

race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

sex: Female, Male.

capital-gain: continuous.

capital-loss: continuous.

hours-per-week: continuous.

native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands. * drop

In [27]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt

In [63]:
dt_clf = DecisionTreeClassifier()
income_df = pd.read_csv("C:\\Users\\flowe\\OneDrive - San Francisco State University\\Data Warehouse\\Income evaluation\\income_evaluation.csv")

In [64]:
income_df.drop([" fnlwgt", " education", " relationship", " native-country"], axis = 1, inplace = True)

In [65]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    education-num   32561 non-null  int64
 3    marital-status  32561 non-null  object
 4    occupation      32561 non-null  object
 5    race            32561 non-null  object
 6    sex             32561 non-null  object
 7    capital-gain    32561 non-null  int64
 8    capital-loss    32561 non-null  int64
 9    hours-per-week  32561 non-null  int64
 10   income          32561 non-null  object
dtypes: int64(5), object(6)
memory usage: 2.7+ MB

In [66]:
income_df=pd.get_dummies(income_df, drop_first=True)

In [67]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 39 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   age                                     32561 non-null  int64
 1    education-num                          32561 non-null  int64
 2    capital-gain                           32561 non-null  int64
 3    capital-loss                           32561 non-null  int64
 4    hours-per-week                         32561 non-null  int64
 5    workclass_ Federal-gov                 32561 non-null  uint8
 6    workclass_ Local-gov                   32561 non-null  uint8
 7    workclass_ Never-worked                32561 non-null  uint8
 8    workclass_ Private                     32561 non-null  uint8
 9    workclass_ Self-emp-inc                32561 non-null  uint8
 10   workclass_ Self-emp-not-inc            32561 non-null  uint8
 11   workclass_ State-gov                   32561 non-null  uint8
 12   workclass_ Without-pay                 32561 non-null  uint8
 13   marital-status_ Married-AF-spouse      32561 non-null  uint8
 14   marital-status_ Married-civ-spouse     32561 non-null  uint8
 15   marital-status_ Married-spouse-absent  32561 non-null  uint8
 16   marital-status_ Never-married          32561 non-null  uint8
 17   marital-status_ Separated              32561 non-null  uint8
 18   marital-status_ Widowed                32561 non-null  uint8
 19   occupation_ Adm-clerical               32561 non-null  uint8
 20   occupation_ Armed-Forces               32561 non-null  uint8
 21   occupation_ Craft-repair               32561 non-null  uint8
 22   occupation_ Exec-managerial            32561 non-null  uint8
 23   occupation_ Farming-fishing            32561 non-null  uint8
 24   occupation_ Handlers-cleaners          32561 non-null  uint8
 25   occupation_ Machine-op-inspct          32561 non-null  uint8
 26   occupation_ Other-service              32561 non-null  uint8
 27   occupation_ Priv-house-serv            32561 non-null  uint8
 28   occupation_ Prof-specialty             32561 non-null  uint8
 29   occupation_ Protective-serv            32561 non-null  uint8
 30   occupation_ Sales                      32561 non-null  uint8
 31   occupation_ Tech-support               32561 non-null  uint8
 32   occupation_ Transport-moving           32561 non-null  uint8
 33   race_ Asian-Pac-Islander               32561 non-null  uint8
 34   race_ Black                            32561 non-null  uint8
 35   race_ Other                            32561 non-null  uint8
 36   race_ White                            32561 non-null  uint8
 37   sex_ Male                              32561 non-null  uint8
 38   income_ >50K                           32561 non-null  uint8
dtypes: int64(5), uint8(34)
memory usage: 2.3 MB

In [68]:
income_df.head()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male,income_ >50K
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,38,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
3,53,7,0,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,28,13,0,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [52]:
# target을 성별로 설정
income_target = income_df[" income_ >50K"]
income_target

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name:  income_ >50K, Length: 32561, dtype: uint8

In [79]:
# data
income_data = income_df.drop(" income_ >50K", axis = 1)
income_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 38 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   age                                     32561 non-null  int64
 1    education-num                          32561 non-null  int64
 2    capital-gain                           32561 non-null  int64
 3    capital-loss                           32561 non-null  int64
 4    hours-per-week                         32561 non-null  int64
 5    workclass_ Federal-gov                 32561 non-null  uint8
 6    workclass_ Local-gov                   32561 non-null  uint8
 7    workclass_ Never-worked                32561 non-null  uint8
 8    workclass_ Private                     32561 non-null  uint8
 9    workclass_ Self-emp-inc                32561 non-null  uint8
 10   workclass_ Self-emp-not-inc            32561 non-null  uint8
 11   workclass_ State-gov                   32561 non-null  uint8
 12   workclass_ Without-pay                 32561 non-null  uint8
 13   marital-status_ Married-AF-spouse      32561 non-null  uint8
 14   marital-status_ Married-civ-spouse     32561 non-null  uint8
 15   marital-status_ Married-spouse-absent  32561 non-null  uint8
 16   marital-status_ Never-married          32561 non-null  uint8
 17   marital-status_ Separated              32561 non-null  uint8
 18   marital-status_ Widowed                32561 non-null  uint8
 19   occupation_ Adm-clerical               32561 non-null  uint8
 20   occupation_ Armed-Forces               32561 non-null  uint8
 21   occupation_ Craft-repair               32561 non-null  uint8
 22   occupation_ Exec-managerial            32561 non-null  uint8
 23   occupation_ Farming-fishing            32561 non-null  uint8
 24   occupation_ Handlers-cleaners          32561 non-null  uint8
 25   occupation_ Machine-op-inspct          32561 non-null  uint8
 26   occupation_ Other-service              32561 non-null  uint8
 27   occupation_ Priv-house-serv            32561 non-null  uint8
 28   occupation_ Prof-specialty             32561 non-null  uint8
 29   occupation_ Protective-serv            32561 non-null  uint8
 30   occupation_ Sales                      32561 non-null  uint8
 31   occupation_ Tech-support               32561 non-null  uint8
 32   occupation_ Transport-moving           32561 non-null  uint8
 33   race_ Asian-Pac-Islander               32561 non-null  uint8
 34   race_ Black                            32561 non-null  uint8
 35   race_ Other                            32561 non-null  uint8
 36   race_ White                            32561 non-null  uint8
 37   sex_ Male                              32561 non-null  uint8
dtypes: int64(5), uint8(33)
memory usage: 2.3 MB